{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}课程表{% endblock %}

{% block content %}
<html>

<head>
    <style>
        .content {
            position: relative;
            width: 300px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
        }

        #footer {
            margin-top: 5%;
        }
    </style>
</head>

<body>
    <div class="content">
        <div>
            <h1 align=center>课程表<sup>alpha</sup>
            </h1>
            <hr />
            <p align=center>使用 URP 教务系统账号登录即可。</p>
            <p align=center style="color: #FF0000;">本站承诺不会保存您的账号密码信息。</p>

        </div>

        <div>
            <form class="form" method="POST">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.password) }}
                <div style="text-align: center">
                    {{ wtf.form_field(form.submit) }}
                </div>
            </form>
        </div>

        <div style="position: relative;margin-top:5%">

            <p><b>Tips:</b> </p>
            <p style="text-indent:1em;">iOS 用户请使用 Safari 浏览器打开本页面。</p>
            <p style="text-indent:1em;">下载 ics 文件后通过系统日历打开即可导入。</p>
            <p style=" text-indent:1em; color: #FF0000;">小米手机（MIUI）由于系统限制暂不支持。</p>
            <p style="text-indent: 1em;">本项目为个人项目，与「西北工业大学明德学院」官方无任何关系。</p>
            <p style="text-indent:1em;">本项目于 GitHub 开源，如果在使用中遇到任何问题，请提交 issue 或通过 QQ 联系开发者。</p>
        </div>

    </div>

</body>

{% block footer %}
<footer id="footer">
    <div>
        <p align=center>截至目前已有 <a style="color: #FF0000;">{{ count }}</a> 位同学生成课程表。</p>
        <p align=center>A <a href={{ github }}>{{ devName }}</a>'s
            project. | QQ: {{ QQ }}</p>
    </div>
</footer>

</html>
{% endblock %}

{% endblock %}